*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#parent {
	text-align: center;
}
#calendar {
	display: inline-block;
}
#calendar td, #calendar th {
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

#calendar .nav, #calendar .info {
	text-align: center;
}
#calendar a {
	color: rgb(0, 77, 122);
	font-size: 25px;
	text-decoration: none;
}
#calendar a:hover {
	color: rgb(185, 9, 233);
}

#calendar.active {
	color: rgb(163, 18, 119);
}